body {
    width: 100%;
    text-align: center;
}

#seqGame {
    margin: 0 auto;
}

#seqBoard button {
    width: 150px;
    height: 150px;
}

.opponentTile {
    background-color: darkred;
}

input {
    width: 30px;
    margin: 0;
    padding: 0;
}

#seqGame {
    overflow: hidden;
    display: inline-block;
}

#gameButtons {
    display: inline-block;
    width:100%;
}

#gameButtons #MakeMoveButton {
    float: right;
}

#gameButtons>* {
    float: left;
}